* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
}

body {
    max-width: 1920px;
    background-image: url(assets/background.svg);
    background-repeat: no-repeat;
}

header {
    padding: 1.25rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: fixed;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-size: 2rem;
    line-height: 2.5rem;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.menu li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}


button {

    width: 6.9375rem;
    height: 3rem;
    color: #FFFFFF;
    background: #A53DFF;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.section {
    display: flex;
    gap: 8.5rem;
    justify-content: space-between;
}

.section h1 {
    font-size: 4.5rem;
    line-height: 5.25rem;
    color: #132238;
}

.first-section {
    padding-top: 6rem;
}

.text-content {
    margin-top: 11.125rem;
    padding-left: 18.75rem;
    width: 50%;
    height: 21rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #556070;
}

.text-content p {
    margin: 1.5rem 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #556070;
}

.my-picture {
    width: 50%;
    height: 47.625rem;
    padding-top: 7.875rem;
}

.my-picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
}

.statistics {
    height: 6.625rem;
    display: flex;
    margin: 8.875rem 0rem 13.875rem 0rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.statistic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #EDD8FF;
    width: 33%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.statistic-card h3 {
    font-size: 32px;
    line-height: 40px;
    color: #424E60;

}

.second-section {
    width: 80vw;
    box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
    border-radius: 16px;
    margin: auto;
    background: #FFFFFF;
    padding: 7rem;
    margin-top: 13.875rem;
}

.description {
    margin-top: 11.125rem;

    width: 50%;
    height: 21rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #556070;
}

.description h1 {
    font-size: 38px;
    line-height: 50px;
    color: #132238;

}

.description p {
    margin: 1.5rem 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #556070;
}

.my-left-picture {
    width: 50%;
    height: 31.5rem;

}

.my-left-picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
}