* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Work Sans';
    font-style: normal;

}

body {
    max-width: 1920px;

}

.background {
    background-image: url(assets/background.svg);
    background-repeat: no-repeat;
}

header {
    padding: 1.25rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: fixed;
    font-weight: 600;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-size: 2rem;
    line-height: 2.5rem;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.menu li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}


button {

    width: 6.9375rem;
    height: 3rem;
    color: #FFFFFF;
    background: #A53DFF;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.section {
    display: flex;
    gap: 8.5rem;
    justify-content: space-between;
}

.section h1 {
    font-size: 4.5rem;
    line-height: 5.25rem;
    color: #132238;
}

.first-section, .third-section {
    padding-top: 6rem;
}

.first-section .text-content {
    margin-top: 11.125rem;
    padding-left: 18.75rem;
    width: 50%;
    height: 21rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #556070;
}

.text-content p {
    margin: 1.5rem 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #556070;
}

.my-picture {
    width: 50%;
    height: 47.625rem;
    padding-top: 7.875rem;
}

.my-picture img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
}

.statistics {
    height: 6.625rem;
    display: flex;
    margin: 8.875rem 0rem 13.875rem 0rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.statistic-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #EDD8FF;
    width: 33%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.statistic-card h3 {
    font-size: 32px;
    line-height: 40px;
    color: #424E60;

}

.second-section {
    width: 70vw;
    box-shadow: 0px 36px 105px rgba(43, 56, 76, 0.1);
    border-radius: 16px;
    margin: auto;
    background: #FFFFFF;
    padding: 7rem;
    margin-top: 13.875rem;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 21rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #556070;
    justify-content: center;

}

.description h1 {
    font-size: 38px;
    line-height: 50px;
    color: #132238;
}

.description p {
    margin: 1.5rem 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #556070;
}

.my-left-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: fit-content;

}

.left-picture {
    max-width: 80%;

    border-radius: 25px;
    box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);

}

.social-buttons {
    display: flex;
    width: 264px;
    height: 72px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 4px;
    z-index: 1;
    margin-top: 500px;
}

.third-section {
    padding-left: 300px;
    padding-right: 300px;
    align-items: center;
    background: #F0F1F3;
}

.work-process h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #132238;
    padding-bottom: 24px;
}

.work-process {
    width: 529px;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #697484;
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cards {
    display: flex;
    gap: 24px;
}

.card {
    background: #FFFFFF;
    width: 312px;
    height: 276px;
    border-radius: 12px;
    padding-top: 32px;
    padding-left: 32px;
}

.cards-left, .cards-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cards-left {
    padding-bottom: 24px;
}

.cards-right {
    padding-top: 24px;
}

.card h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #132238;
}

.card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #556070;
}

.card-icon {
    width: 72px;
    height: 72px;
    background: #EDD8FF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.card-icon img {
    width: 32px;
    height: 32px;
}

.card-description h3 {
    margin-bottom: 12px;
}

.portfolio {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}

.portfolio h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #132238;
    margin-bottom: 24px;
}

.portfolio-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #87909D;
    width: 577px;
    margin-bottom: 70px;
}

.portfolio-card {
    box-sizing: content-box;
    width: 424px;
    height: 476px;
    border: 1px solid #E6E8EB;
    box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 8px;
    background: #FFFFFF;
}

.portfolio-card-description {
    text-align: start;
    padding: 32px;
}

.portfolio-card-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #87909D;
    margin-bottom: 4px;
}

.portfolio-card-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #132238;
    margin-bottom: 12px;
}

.portfolio-card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #556070;
    margin-bottom: 20px;
}

.portfolio-card-button button {
    color: #A53DFF;
    background: transparent;
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.portfolio-card-button {
    display: flex;
    padding-left: 24px;
    gap: 12px;
    align-items: center;
    border: 1px solid #A53DFF;
    border-radius: 4px;
    width: 143px;
    height: 48px;

}

.portfolio-card-button img {
    width: 12px;
    height: 12px;
}

.portfolio-cards-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.portfolio-cards-2 {
    display: flex;
    gap: 24px;
    margin-bottom: 50px;
}

.more-project {
    margin-bottom: 100px;
}

.project-idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #132238;
    height: 472px;
    padding: 100px 0px;
    text-align: center;
}

.project-idea-button {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 240px;
    color: #FFFFFF;
    background: #A53DFF;
    border-radius: 0.25rem;
    justify-content: center;
}

.project-idea-button img {
    width: 12px;
    height: 12px;
}

.project-idea-button button {
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.project-idea-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;

}

.project-idea-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #A5ACB5;
}

.blog {
    padding: 100px 0px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #132238;
    margin-bottom: 24px;
}

.blog-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #87909D;
    width: 540px;
    text-align: center;
    margin-bottom: 70px;
}

.blog-card {
    width: 312px;
    height: 350px;
    border: 1px solid #E6E8EB;
    box-shadow: 0px 12px 64px rgba(28, 25, 25, 0.12);
    border-radius: 8px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-card-img-1 {
    background-image: url(assets/blog-card-img-1.svg);
    width: 100%;
    height: 226px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 24px;
}

.blog-card-img-2 {
    background-image: url(assets/blog-card-img-2.svg);
    width: 100%;
    height: 226px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 24px;
}

.blog-card-img-3 {
    background-image: url(assets/blog-card-img-3.svg);
    width: 100%;
    height: 226px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 24px;
}

.blog-card-img-4 {
    background-image: url(assets/blog-card-img-4.svg);
    width: 100%;
    height: 226px;
    border-radius: 8px 8px 0px 0px;
    margin-bottom: 24px;
}

.blog-card-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #87909D;
}

.blog-card-title {
    width: 210px;
    font-weight: 540;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.blog-card-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog-cards {
    display: flex;
    gap: 24px;
}