* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
}

header {
    padding: 1.25rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    position: fixed;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    font-size: 2rem;
    line-height: 2.5rem;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.menu li {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}


button {

    width: 6.9375rem;
    height: 3rem;
    color: #FFFFFF;
    background: #A53DFF;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
}

.first-section {
    padding-top: 96px;
}

.first-section h1 {
    font-size: 4.5rem;
    line-height: 5.25rem;
    color: #132238;
}

.text-content {
    margin-top: 11.125rem;
    margin-left: 18.75rem;
    width: 40.5rem;
    height: 21rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #556070;
}

.text-content p {
    margin: 1.5rem 0;
}